body{
    margin:1.5rem;
}
#canvas{
    background-repeat: no-repeat;
}
#content{
    position: absolute;
    z-index: 100;
    top: 240px;
   left: 240px; 
}
h2{
    margin:1.5rem;
    text-align: center;
}
input{
    margin-bottom: 1rem;
}